<div class="navbar">
  <img src="https://www.jobboardfinder.com/upload/1c7f578db0e8d9673c95dd5b1c7122c5a36081b0/logo_jobboard.png">
  <div class="subnav">
    <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#company">Company</a>
      <a href="#team">Team</a>
      <a href="#careers">Careers</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Why StackoverFlow <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#bring">Features</a>
      <a href="#deliver">Articles</a>
      <a href="#package">Customers</a>
      <a href="#express">Use cases</a>
    </div>
  </div>
  <div class="subnav">
    <button class="subnavbtn">Products <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#link1">Product1</a>
      <a href="#link2">Product2</a>
      <a href="#link3">Product3</a>
      <a href="#link4">Product4</a>
    </div>
  </div>
  <a href="#contact">Contact</a>
</div>


<br>

<div class="intro">
  <h1>How to call an Odoo Controller function from JS file</h1>
  <h4>Asked today Active today Viewed 13 times</h4>
  <hr>
</div>
<br>

<div class="vote">
  <p class="likes">{{ numberOfLikes }}</p>
</div>
<br>
<div class="like" (click)="likeButtonClick()">
</div>
<br>
<div class="dlike" (click)="dislikeButtonClick()">
</div>
<br>
<div class="text">
  <!-- <pre><code>
      #include<conio.h>
          void main(){
            print("Hello");
          }
  </code></pre> -->
    <p>
    How to pull the data from a table<br>and put in website<br>
    How to pull the data from a table<br>and put in website<br>
    How to pull the data from a table<br>and put in website<br>
    How to pull the data from a table<br>and put in website<br>
    How to pull the data from a table<br>and put in website<br>
    How to pull the data from a table<br>and put in website<br>
    How to pull the data from a table<br>and put in website<br>
  </p>

</div>
